/* common */
html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {    
    padding-top: 70px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
}

.h1, .h2, .h3, h1, h2, h3 {
    font-weight: 700;
    text-transform: uppercase;
}

.h1, h1 {
    font-size: 2.75rem;
}

.h2, h2 {
    font-size: 2rem;
}

.h3, h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
}

.bg_obsidian {
    background-color: #2c3e50;
}

/* button */
.ms_btn {
    font-weight: 500;
    color: #fff;
    border-color: #fff;
    transition: 0.3s;
}
.ms_btn:hover,
.ms_btn:focus {
    color: #2c3e50;
    background-color: #fff;
    border-color: #fff;
}

.ms_btn i {
    margin-right: 10px;    
}

.ms_btn_round {
    font-size: 1rem;
    margin: 3px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.ms_btn.btn-lg {
    padding: 16px 28px;
}

.ms_btn_green {
    background-color: #1abc9c;
    border-color: #1abc9c;
} 
.ms_btn_green:hover {
    color: #fff;
    background-color: #159a80;
    border-color: #159a80;
} 

/* divider */

.ms_divider_star {
    height: 32px;
    line-height: 32px;
    margin: 1.25rem 0 1.5rem;
}
.ms_divider_star::before,
.ms_divider_star::after {
    content: "";
    display: inline-block;
    height: 4px;
    width: 100px;
    border-radius: 1rem;
    border-color: #fff;
    background-color: #fff;
    vertical-align: middle; 
}

.ms_divider_star i {
    padding: 0 15px;
    font-size: 32px;
    vertical-align: middle;
}

.star_obsidian {
    color: #2c3e50;
}
.star_obsidian.ms_divider_star::before,
.star_obsidian.ms_divider_star::after {
    background-color: #2c3e50;
}

/* header */
/* header nav */
#header_nav {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    border: 0; 
    font-weight: 700;    
    background-color: #2c3e50;
}

#header_nav.navbar-default .navbar-brand { 
    font-size: 1.25em;
    color: #fff;
}

#header_nav.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    color: #fff;
}
#header_nav.navbar-default .navbar-nav > li > a:hover {
    color: #1abc9c;
}

/* jumbotron */
#jumbo {
    padding-top: 120px;
    background-color: #1abc9c;
    color: #fff;
}

#jumbo img {
    height: 250px;
    margin-bottom: 50px;
}

#jumbo.jumbotron p {    
    font-weight: 500;
}

/* portfolio */
#portfolio {
    margin-top: 60px;
    margin-bottom: 60px;    
    color: #2c3e50
}
#portfolio .ms_divider_line {
    border-color: #2c3e50;
    background-color: #2c3e50;
}

#pf_blocks { 
    width: 100%;
}
#pf_blocks .row > div { 
    position: relative; 
}

.pf_item {
    position: relative;
    width: 100%;
    margin-top: 30px;    
    border-radius: 15px;
    overflow: hidden;
}

.pf_item img {
    width: 100%;
    min-width: 290px;
    max-width: 400px;
}
.pf_item .fas {
    line-height: 250px;
}
.pf_item a:focus, 
.pf_item a:hover {
    color: #fff;
}

.pf_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 6em; 
    background-color: #1abc9c;
    opacity: 0;
    transition: .5s ease;
}
.pf_overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pf_item:hover .pf_overlay {
    opacity: 0.9;
}

/* about */
#about {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
    background-color: #1abc9c;
}
#about p {
    padding-top: 15px;
    font-weight: 500;
    text-align: left;
}

#download_btn {
    margin-top: 30px;
}

/* contact me */
#contact {
    margin-top: 60px;
    margin-bottom: 60px;
    color: #2c3e50
}    
#contact .ms_divider_line {    
    border-color: #2c3e50;
    background-color: #2c3e50;
}

#ms_form {
    text-align: left;
    text-transform: capitalize;
    color: #69707a;
}
#ms_form .form-control {
    margin-top: 15px;
    padding: 15px 0 45px;
    border: none;
    border-bottom: 1px solid rgba(105, 112, 122, 0.5);
    box-shadow: none;
}
#ms_form input,
#ms_form textarea {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}

/* footer top */
.footer_top {
    padding: 30px 0;
    background-color: #3a546d;
}

.footer_top_item {
    padding: 15px 15px;
}

.social {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.social li {
    display: inline-block;
}
.social a {   
    position: relative; 
    height: 60px;
    width: 60px;
}
.social i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start_bootstrap {
    color: #1abc9c;    
}
#start_bootstrap:hover {
    text-decoration: underline;
    color: #159a80;   
}

/* footer bottom  */
.footer_bottom {
    background-color: #2c3e50;
}
.footer_bottom span{
    line-height: 100px;
    font-size: 0.8rem;
}

/* media queries */
@media (min-width: 992px) {

    .h1, h1 {
        font-size: 4rem;
    }

    .h2, h2 {
        font-size: 3rem;
    }

    .ms_divider_star::before,
    .ms_divider_star::after {
        width: 10%;
    }
    
    #header_nav.navbar-default .navbar-brand { 
        font-size: 1.75em;
    }

    #jumbo.jumbotron p {
        font-size: 1.5rem;
    }

}
