/* debug */
.portfolio {
    margin-bottom: 90px;
}

.about_title {
    height: 150px;
    border: 2px dashed #ffffff;
}
#about_left,
#about_right {
    height: 250px;
    border: 2px dashed #ffffff;
}
.about_btn {
    height: 75px;
    border: 2px dashed #ffffff;
}
#contact_title{
    height: 100px;
    border: 2px dashed #2c3e50;
}
#contact_form {
    height: 800px;
    border: 2px dashed #2c3e50;
}
.footer_top_item {
    height: 100px;
    border: 2px dashed #ffffff;
}
.footer_bottom {
    height: 125px;
}
/* /debug */

/* common */
html {
    font-size: 1rem;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.color_obsidian {
    color: #2c3e50;
}

/* divider */
.ms_divider{
    display: inline-block;
    margin: 1.25rem 0 1.5rem;
    line-height: 32px;
}
.ms_divider_star {
    display: inline-block;
    font-size: 32px;
    vertical-align: middle;
}
.ms_divider_line {
    display: inline-block;
    height: 0.25rem;
    width: 7rem;
    border-radius: 1rem;
    border-color: #fff;
    background-color: #fff;
    vertical-align: middle;
}
.ms_divider_line:first-child {
    margin-right: 16px;
}
.ms_divider_line:last-child {
    margin-left: 16px;
}

/* header */
/* header nav */
#header_nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 0; 
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;    
    background-color: #2c3e50;
}

#header_nav.navbar-default .navbar-brand { 
    font-size: 1.75em;
    color: #fff;
}

#header_nav.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    color: #fff;
}
#header_nav.navbar-default .navbar-nav > li > a:hover {
    color: #1abc9c;
}

/* jumbotron */
#jumbo {
    margin-top: 80px;
    margin-bottom: 0;
    text-align: center;
    background-color: #1abc9c;
    color: #fff;
}

#jumbo img {
    height: 250px;
    margin-bottom: 50px;
}

#jumbo.jumbotron .h1, 
#jumbo.jumbotron h1 {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
}

#jumbo.jumbotron p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* portfolio */
#pf_blocks {    
    max-width: 360px;
}

[id*="pf_item_"] {    
    height: 250px;
    margin-top: 30px;
    border-radius: 15px;
}

#pf_item_1 {
    background-color: #ba4b63;
}
#pf_item_2 {
    background-color: #1ea4b6;
}
#pf_item_3 {
    background-color: #140f0f;
}
#pf_item_4 {
    background-color: #1c83c1;
}
#pf_item_5 {
    background-color: #0e38b5;
}
#pf_item_6 {
    background-color: #ccb2a3;
}

/* about */
.about {
    background-color: #1abc9c;
}
#about_left,
#about_right{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* footer */
.footer_top {
    background-color: #3a546d;
}
.footer_top_item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer_bottom {
    background-color: #2c3e50;
}

@media (min-width: 768px) {

    #pf_blocks {    
        max-width: 100%;
    }
}